@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);


* {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  background-color: #79A5EF;
  overflow-x: hidden;
}

p {
  margin: 20px;
  transition: all 1s ease-in-out;
}

h1 {
  font-size: 36px;
  transition: all 1s ease-in-out;
}

h2 {
  font-size: 22px;
  transition: all 1s ease-in-out;
}

.dropzone {
  position: fixed !important;
  position: absolute;
  top: 87px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow-y: overlay;
}

.dropzone * {
  transition: all 0.5s ease-in-out;
}


.dz-details {
  display: flex;
}


/* Report button */
.btn-red2 {
  position: absolute;
  height:20px;
  width:86px;

  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  background-color:#fe1a00;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;
  color:#ffffff;

  font-size:9px;
  line-height:20px;
  text-align:center;
}
.btn-red2:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  background-color:#ce0100;
  cursor: pointer;
}

#background {
  position: fixed;
}

#title {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;

  font-size:72px;
  letter-spacing: 50px;
  /* this makes the text actually centred as letter-spacing is broken */
  padding-left: 25px;

  text-shadow: 0 2px 3px #555;
}

#helpBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
  z-index: 1;

  -moz-box-shadow:inset -1px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset -1px 1px 0px 0px #97c4fe;
  box-shadow:inset -1px 1px 0px 0px #97c4fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  background-color:#3d94f6;

  border-radius: 0 100px 0 0;
  moz-border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;

  border: 1px solid #337fed;
  color:#ffffff;

  font-size:26px;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  line-height: 100px;
}
#helpBtn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  background-color:#1e62d0;
}

