body
{
  margin-left: 35%;
  margin-right: 35%;
  background-color: #FFFF99;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
h1
{
  text-align: center;
}
h3
{
  text-align: center;
}
p
{
  text-align: center;
}

